<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="#">Home</a>
        </nav>
    </div>
</div>

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">Online JSON Object Converter</h1>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <p class="blog-post-meta">Select your desired output type:
                    <select id="ddlOutputType">
                        <option value="markdownTable">Markdown Table</option>
                        <option value="markdownList" selected>Markdown List</option>
                        <option value="htmlTable">HTML Table</option>
                        <option value="htmlList">HTML List</option>
                    </select>
                </p>

                <p class="blog-post-meta">Paste a JSON object here:</p>
                <p><textarea id="txtJSON" cols="100" rows="5"></textarea></p>
                <p class="blog-post-meta"><button id="btnSubmit">Submit</button></p>
            </div>

        </div>
    </div>

    <div id="error" class="row"></div>
    <div id="results" class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <p class="blog-post-meta">Output:</p>
                <p><textarea id="txtResult" cols="100" rows="5"></textarea></p>
                <p class="blog-post-meta">And here is how it renders in html...</p>
                <div id="divMarked" class="row table">

                </div>
            </div>
        </div>

    </div>
</div>



