<div class="row">
    <p>Paste in your JSON object here</p>
</div>
<div class="row">
    <textarea id="txtJSON" cols="100" rows="5"></textarea>
</div>
<div class="row">
    <button id="btnSubmit">Submit</button>
</div>

<div id="error" class="row">

</div>

<div id="results" class="row">
    <p>MarkDown:</p>
    <textarea id="txtResult" cols="100" rows="5"></textarea>
    <p>And here is how it renders in html...</p>
    <div id="divMarked" class="row table">

    </div>
</div>
