<div>
    Paste in your JSON object here
</div>
<div>
    <textarea id="txtJSON"></textarea>
</div>
<div>
    <button id="btnSubmit">Submit</button>
</div>
<div>
    Your results appear here
</div>
<div>
    <textarea id="txtResult"></textarea>
</div>
<div>And here is how it renders in html...</div>
<div id="divMarked">

</div>
